html, body { height: 100%; }

html { font-size: 100%; }

body { background: $white; color: $black; font: 300 #{$baseFontSize}/#{$baseLineHeight} $fontFamily; margin: 0; overflow-x: hidden; letter-spacing: $kerning50; padding: 0;  }

a { color: $linkColor; text-decoration: none; transition: color 0.3s $cbTrans, background-color 0.3s $cbTrans;
  &:visited { color: $linkColorVisited; }
  &:hover { color: $linkColorHover; }
  &:active { color: $linkColorActive; }
}

a.btn, .btn { font: normal 700 14px/1.2 $serifFontFamily; text-transform: uppercase; }

a:focus, a:hover, a:active { outline: 0; }
a[href^=tel] { color: inherit; text-decoration: none; }

strong { font-weight: bold; }
em { font-style: italic; }
cite { font-style: normal; }
small { font-size: 11px; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: $baseMargin 0; padding: 0; }
blockquote { margin: $baseMargin $baseMargin / 2; }

h1, h2, h3, h4, h5, h6 { margin: 0 0 15px; font-family: $headingsFontFamily; font-weight: $headingsFontWeight; letter-spacing: $kerning50; line-height: 1.2; color: $headingsColor; text-rendering: optimizelegibility; text-transform: uppercase; }

h1 { font-size: 38px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

p, ul { margin: 0 0 $baseMargin; }
p.lead { font-size: 24px; font-weight: 700; }

img { border: 0; max-width: 100%; height: auto; }

input[type="text"], input[type="email"], input[type="tel"], select, textarea { background-color: #fff; border: 1px solid transparent; color: #000; font: normal 400 16px $fontFamily; padding: 15px 20px; width: 100%;
	&:focus { outline: 0; }
}

input, textarea, select, button { -webkit-appearance: none; -webkit-border-radius: 0; }
textarea { overflow: auto; resize: none; }

textarea { overflow: auto; resize: none; }

// No transitions while loading
.loading * { transition: none; -moz-transition: none; -ms-transition: none; -webkit-transition: none; }

// Transition placeholder
%trans { transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; -webkit-transition: all 0.4s ease-in-out; }

// Helper classes
.screen-reader { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.body-text { margin: 0 auto; max-width: 815px; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.center { display: table; height: 100%; width: 100%; }
.vert-center { display: table-cell; height: 100%; vertical-align: middle; }